*.vcd
*.vvp
*.wdb
*.jou
*.backup.jou
*.log
hs_err_pid*.dmp
*.dcp
*.bit
*.rpx
digital_twin.srcs/sim_iverilog/*.vcd
.Xil/
digital_twin.cache/
digital_twin.gen/
digital_twin.runs/
digital_twin.sim/
digital_twin.hw/
node_modules/
dist/
build/
.venv/
__pycache__/
*.zip
*.rar
*.mp4
*.pt
*.pth
*.onnx